{ZL.Source id="常规商品数据源"/}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="常规商品数据源" FD="Proname" page="0"/}_{$SiteName/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
</head>
<body >
{ZL.Label id="全站头部"/}


<ol class="breadcrumb container m_Bread">
  <li><a href="#">狗市场</a></li>
  <li><a href="#">我要买狗</a></li>
  <li><a href="#">萨摩耶犬</a></li>
  <li class="active">北京萨摩耶犬</li>
</ol>
<!--面包屑 end-->

<div class="container shop_content">
<div class="row">
<div class="col-xs-12 col-md-5 shop_content_l">
<div><img src="{$CssDir/}Images/dogin.jpg" alt=""></div>
<ul>
	<li><img src="{$CssDir/}Images/dog1.jpg" alt=""></li>
	<li><img src="{$CssDir/}Images/dog2.jpg" alt=""></li>
	<li><img src="{$CssDir/}Images/dog3.jpg" alt=""></li>
	<li><img src="{$CssDir/}Images/dog4.jpg" alt=""></li>
</ul>
</div>
<div class="col-xs-12 col-md-5 shop_content_c">
<h1>极品萨摩耶犬在这里，纯种健康优惠，CKU认证</h1>
<div class="s_Price_box">
<p>均价：<strong>￥3500</strong> <span>浏览次数3000</span></p>
<p>卖家承诺：保纯保健康</p>
</div>

<div class="dog_deta">
<p><span class="dog_deta_l">狗狗品种：<strong>萨摩耶</strong></span><span class="dog_deta_r">待售犬只：<strong>12只待售</strong></span></p>
<p><span class="dog_deta_l">狗狗性别：<strong>公母全有</strong></span><span class="dog_deta_r">疫苗情况：<strong>3针疫苗</strong></span></p>
<p><span class="dog_deta_l">狗狗年龄：<strong>三个月</strong></span><span class="dog_deta_r">驱虫情况：<strong>已驱虫</strong></span></p>
<p><span class="dog_deta_l">能否视频：<strong>可视频看狗狗</strong></span><span class="dog_deta_r">有效期：<strong>信息有效</strong></span></p>
</div>
<div class="dog_deta">
<p><span class="dog_deta_l">联系人：<strong>牛先生</strong></span><span class="dog_deta_r">所在地区：<strong>北京市 东城区</strong></span></p>
<p><span class="dog_deta_l">联系电话：<strong>18000000000</strong></span><span class="dog_deta_r">异地运费：<strong>300</strong></span></p>
<p><span class="dog_deta_l">微信账号：<strong>18000000000</strong></span><span class="dog_deta_r">联系Q Q：<strong>800123456</strong></span></p>
</div>
<div class="s_statement">
<p>1.请您联系说："狗市场(www.goushichang.com)看到的",谢谢！</p>
<p>2.该信息由用户自行发布，其真实性，合法性由发布人负责，狗市场不提供任何保证，也不承担任何法律责任！</p>
</div>
</div>
<div class="col-xs-12 col-md-2 shop_content_r">
<h3>卖家基本信息</h3>
<div class="shop_r_main">
<h4>安康犬业</h4>
<img src="{$CssDir/}Images/maijiaxx.jpg" alt="">
<p class="reg_time">注册时间：2018年3月31日</p>
<p><span>历史记录</span></p>
<p>上海市</p>
<p class="dog_r_value">注册城市</p>
<p>999条</p>
<p class="dog_r_value">发帖数量</p>
<p>3个</p>
<p>发帖城市数量</p>
</div>
</div>
<div></div>
</div>

<div class="row shop_detailed">
<div class="col-xs-12 shop_detailed_title">
<span>卖家描述与狗狗介绍</span>
</div>
<div class="shop_detailed_l col-xs-12 col-md-10">
以德唯美，心向善行，崇尚品质
<br>
我们的目标：0投诉、99.9%、100%回头客

--我们推荐
<br>
1.本地客户：上门购买或同城送货
<br>
2.本地客户：起运发货、空运发货或者找人代购
<br>
--郑重承诺
<br>
本市场销售的所有犬只，全部保证纯种，保证健康，保证售后，请客户朋友放心购买！
<br>
--常年直销
<br>
金毛：1300-1800
<br>
哈士奇：1300-1800
<br>
萨摩耶：1400-1800
<br>
比熊：1600-2200<br>
古牧：1600-2200<br>
德牧：1600-2200<br>
马犬：1800-2200<br>
昆明犬：1800-2200(狼青，草黄，黑背)<br>
罗威纳：1800-2200<br>
边牧：1600-3600 (黑白 、黄白 、陨石、咖啡色)<br>


</div>
<div class="shop_detailed_r col-xs-12 col-md-2">
<h4>本类推荐</h4>
<ul>
	<li>
		<a href=""><img src="{$CssDir/}Images/dog5.jpg" alt=""></a>
		<p><a href="#">极品萨摩耶在这里，保障纯种和健康、十佳犬</a></p>
		<span>2400元</span>
	</li>
</ul>
</div>
</div>
</div>


<div class="footer container">
<div class="footer_link clearfix">
<div class="footer_link_title">友情链接</div>
<ul>
	{ZL.Label id="友情链接列表" ShowNum="30" NodeID="9" /}
	<li><a href="{ZL:GetNodeLinkUrl(9)/}">更多+</a></li>
</ul>
</div>

<div class="footer_bottm">
<ul class="footer_bottm_link clearfix">
	<li><a href="#">友情链接</a></li>
	<li><a href="#">英才招聘</a></li>
	<li><a href="#">联系我们</a></li>
	<li><a href="#">网站地图</a></li>
	<li><a href="#">意见反馈</a></li>
	<li><a href="#">互联网违法和不良信息举报电话： 0871-68690083</a></li>
</ul>
{$Copyright/}
</div>
</div>
<div class="b_icolist">
<ul class="f_b_ico">
<li><a href="#"><img src="/Template/dog/style/Images/shgsj.jpg" alt=""></a></li>
<li><a href="#"><img src="/Template/dog/style/Images/cxpp.jpg" alt=""></a></li>
<li><a href="#"><img src="/Template/dog/style/Images/kxwz.jpg" alt=""></a></li>
<li><a href="#"><img src="/Template/dog/style/Images/zxw.jpg" alt=""></a></li>
</ul>
</div>
</body>
</html>