{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{$SiteName/}_首页-{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" /}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
</head>
<body >
{ZL.Label id="全站头部"/}

<ol class="breadcrumb container m_Bread">
  <li><a href="#">狗市场</a></li>
  <li class="active">问答</li>
</ol>
<!--面包屑 end-->

<div class="container problem">
<div class="row">
<div class="col-sm-10 problem_l">
<ul>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
	<li>
	<div class="problem_title col-xs-8 col-sm-7"><i class="fa fa-folder-o" aria-hidden="true"></i><a href="#">养一只狗子，它的吃喝玩乐到底需要多少钱？</a></div>
	<div class="problem_author col-xs-4 col-sm-2"><p>麦德市Ni宠物营养品</p><p>18/1/24 11:32</p></div>
	<div class="problem_flowsum col-sm-1"><p>6</p><p>358</p></div>
	<div class="problem_contact col-sm-2"><p>手机(138****6351)(1)的狗</p><p>18/1/24 11:32</p></div>
	</li>
</ul>
<div class="container text-center">
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<!--分页 end-->
</div>
<div class="col-sm-2 problem_r">
<a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i> 发表文章</a>
</div>
</div>
</div>
<!--问答 end-->

{ZL.Label id="全站底部"/}
</body>
</html>